<%# shoppingBag Component %>

<div class="cart-drawer" id="cart-drawer">
  <div class="drawer-heading is-flex columns">
    <div class="column">
      <h5 class="cart-mainh">Shopping Cart</h5>
    </div>
    <div class="column">
      <h5 onclick="backBtn()" class="is-primary is-inverted">Back</h5>
    </div>
  </div>

  <div class="drawer-handler">
    <% for (let i = 0; i < cartData.products.length; i++) { %>
    <div class="columns is-flex is-flex-direction-row">
      <div class="cart-img column is-one-quarter">
        <img class="cartProduct-img" src="../<%=cartData.products[i].img%>" />
      </div>

      <div class="item-description column">
        <h5><%= cartData.products[i].itemName %></h5>
        <h5>Light description</h5>
        <h5><%= cartData.products[i].qty %></h5>
      </div>
      <form action="/delete" method="post">
        <div class="cart-pricing column">
          <h5><%= cartData.products[i].price %></h5>
          <button
            class="button remove-btn"
            name="remove"
            type="submit"
            value="<%= cartData.products[i].itemName %>"
          >
            <h5>remove</h5>
          </button>
        </div>
        <% if(typeof window!=="undefined"){ %>
        <input type="hidden" name="name" value="<%= window.location.href %>" />
        <% } %>
      </form>
    </div>

    <% } %>
  </div>

  <div class="checkout-box">
    <div class="subtotal columns is-flex is-flex-direction-row">
      <div class="column is-three-fifths">
        <h6>Subtotal</h6>
      </div>
      <div class="column">
        <h6 id="total"><%= cartData.total %></h6>
      </div>
    </div>
  </div>

  <div class="checkout-btn">
    <form action="/checkout/create-checkout-session" method="POST">
    ;''
      <div>
        <input type="submit" value="Checkout" id="checkout-btn" class="button is-dark">
        </submit>
      </div>
    </form>

    <div>
      <button type="button" class="button is-dark">Continue Shopping</button>
    </div>
  </div>
</div>

<script>
  let cartBtn = document.getElementById("cart-button-na");
  let ackBtn = document.getElementsByClassName("back-btn");
  let subtotal = document.getElementById("total").innerHTML;
  let checkoutBtn = document.getElementById("checkout-btn");

  let numsubtotal = parseInt(subtotal);

  if (numsubtotal === 0) {
    checkoutBtn.style.visibility = "hidden";
  } else {
    checkoutBtn.style.visibility = "visible";
  }

  function cartActive() {
    let cartDrawer = document.getElementById("cart-drawer");
    cartDrawer.classList.toggle("active");
  }

  function backBtn() {
    let cartDrawer = document.getElementById("cart-drawer");
    cartDrawer.classList.toggle("active");
  }

  cartBtn.addEventListener("click", cartActive);
</script>
