<!DOCTYPE html>
<%- include('partials/head.ejs'); %> <%- include('partials/header.ejs'); %>
<body>
  <div class="productContent is-flex is-flex-direction-row">
    <div class="product column">
      <img class="productImg" name="productImg" src="../<%=productData.img%>" />
    </div>

    <div class="product-details column">
      <h6 class="pd-title"><%= productData.storeTitle %></h6>
      <h1 id="itemvalue" name="itemvalue" value="<%=productData.itemName%>">
        <%= productData.itemName%>
      </h1>
      <h6 name="price">$ <%=productData.price%></h6>

      <div class="btn-group">
        <button type="button" class="button is-dark" data-toggle="dropdown">
          Color
        </button>
        <button type="button" class="button is-dark" data-toggle="dropdown">
          Size
        </button>
      </div>

      <form action="/product" method="post" id="cartForm">
        <h4>Size Guide</h4>
        <button
          type="submit"
          class="button is-dark"
          name="addcart"
          id="addcart"
          value="<%=productData.itemName%>"
          type="submit"
        >
          Add To Cart
        </button>
        <input
          type="hidden"
          value="<%=productData.price%>"
          name="price"
          id="item-price"
        />
      </form>
    </div>
  </div>

  <%- include('partials/shoppingBag.ejs') -%>
</body>
